# Data Gathering - Poll data

In [1]:
import gepd
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 100)
import seaborn as sns
import matplotlib.pyplot as plt

## Getting Data

In [15]:
data = gepd.gepd()

In [16]:
df = data.get_surveys()

In [17]:
data.get_parliaments()

{'0': {'Shortcut': 'Bundestag',
  'Name': 'Bundestag',
  'Election': 'Bundestagswahl'},
 '9': {'Shortcut': 'Niedersachsen',
  'Name': 'Niedersächsischer Landtag',
  'Election': 'Landtagswahl in Niedersachsen'},
 '8': {'Shortcut': 'Mecklenburg-Vorpommern',
  'Name': 'Landtag von Mecklenburg-Vorpommern',
  'Election': 'Landtagswahl in Mecklenburg-Vorpommern'},
 '3': {'Shortcut': 'Berlin',
  'Name': 'Berliner Abgeordnetenhaus',
  'Election': 'Abgeordnetenhauswahl in Berlin'},
 '13': {'Shortcut': 'Sachsen',
  'Name': 'Sächsischer Landtag',
  'Election': 'Landtagswahl in Sachsen'},
 '2': {'Shortcut': 'Bayern',
  'Name': 'Bayerischer Landtag',
  'Election': 'Landtagswahl in Bayern'},
 '16': {'Shortcut': 'Thüringen',
  'Name': 'Thüringischer Landtag',
  'Election': 'Landtagswahl in Thüringen'},
 '12': {'Shortcut': 'Saarland',
  'Name': 'Saarländischer Landtag',
  'Election': 'Landtagswahl im Saarland'},
 '11': {'Shortcut': 'Rheinland-Pfalz',
  'Name': 'Landtag von Rheinland-Pfalz',
  'Election': 'Landtagswahl in Rheinland-Pfalz'},
 '14': {'Shortcut': 'Sachsen-Anhalt',
  'Name': 'Landtag von Sachsen-Anhalt',
  'Election': 'Landtagswahl in Sachsen-Anhalt'},
 '15': {'Shortcut': 'Schleswig-Holstein',
  'Name': 'Landtag von Schleswig-Holstein',
  'Election': 'Landtagswahl in Schleswig-Holstein'},
 '10': {'Shortcut': 'Nordrhein-Westfalen (NRW)',
  'Name': 'Landtag von Nordrhein-Westfalen',
  'Election': 'Landtagswahl in Nordrhein-Westfalen (NRW)'},
 '4': {'Shortcut': 'Brandenburg',
  'Name': 'Brandenburgischer Landtag',
  'Election': 'Landtagswahl in Brandenburg'},
 '1': {'Shortcut': 'Baden-Württemberg',
  'Name': 'Landtag von Baden-Württemberg',
  'Election': 'Landtagswahl in Baden-Württemberg'},
 '7': {'Shortcut': 'Hessen',
  'Name': 'Hessischer Landtag',
  'Election': 'Landtagswahl in Hessen'},
 '6': {'Shortcut': 'Hamburg',
  'Name': 'Hamburgische Bürgerschaft',
  'Election': 'Bürgerschaftswahl in Hamburg'},
 '17': {'Shortcut': 'Europäisches Parlament',
  'Name': 'Europäisches Parlament',
  'Election': 'Europawahl'},
 '5': {'Shortcut': 'Bremen',
  'Name': 'Bremische Bürgerschaft',
  'Election': 'Bürgerschaftswahl in Bremen'}}

In [18]:
df

,Date,Surveyed_Persons,Parliament_ID,Institute_ID,Tasker_ID,Date_Start,Date_End,2,1,4,3,7,0,5,8,101,102,11,13,10,14,9,6,16,15
0,2021-08-31,2340,0,24,97,2021-08-30,2021-08-31,27.0,19.5,15.5,13.0,10.5,8.0,6.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-08-31,2001,0,17,13,2021-08-28,2021-08-29,25.0,21.0,19.0,11.0,11.0,6.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-08-31,2508,0,2,63,2021-08-24,2021-08-30,23.0,21.0,18.0,12.0,11.0,9.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-08-30,2015,0,5,4,2021-08-27,2021-08-30,25.0,20.0,16.5,13.5,11.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-08-28,1038,0,9,6,2021-08-18,2021-08-26,24.0,26.0,17.0,10.5,10.5,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1750,2017-01-25,2504,0,2,2,2017-01-16,2017-01-20,21.0,37.0,10.0,6.0,12.0,5.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1751,2017-01-24,5028,0,16,14,2017-01-12,2017-01-23,20.4,37.1,9.3,6.2,13.2,4.3,9.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1752,2017-01-24,1992,0,5,4,2017-01-20,2017-01-23,21.0,32.5,8.5,7.5,14.5,5.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1753,2017-01-22,2805,0,3,3,2017-01-12,2017-01-18,21.0,36.0,9.0,6.0,12.0,5.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1754,2017-01-18,2503,0,2,2,2017-01-09,2017-01-13,21.0,38.0,9.0,6.0,11.0,6.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df.dtypes

Date                datetime64[ns]
Surveyed_Persons             int64
Parliament_ID               object
Institute_ID                 int64
Tasker_ID                    int64
Date_Start                  object
Date_End                    object
2                          float64
1                          float64
4                          float64
3                          float64
7                          float64
0                          float64
5                          float64
8                          float64
101                        float64
102                        float64
11                         float64
13                         float64
10                         float64
14                         float64
9                          float64
6                          float64
16                         float64
15                         float64
dtype: object

## Only federal election

In [6]:
df = df.loc[df["Parliament_ID"] == "0"]

## Transforming collum names

In [7]:
parties_dict = data.get_parties()

In [8]:
def parties_dict_short_function(parties_dict):
    dct = {}
    for key, value in parties_dict.items():
        dct[key] = value["Shortcut"]
    return dct

In [9]:
parties_dict_short  = parties_dict_short_function(parties_dict)

In [10]:
parties_dict_short

{'7': 'AfD',
 '11': 'BP',
 '14': 'BVB/FW',
 '4': 'Grüne',
 '16': 'BIW',
 '1': 'CDU/CSU',
 '101': 'CDU',
 '102': 'CSU',
 '5': 'Linke',
 '13': 'Die PARTEI',
 '3': 'FDP',
 '8': 'Freie Wähler',
 '9': 'NPD',
 '15': 'Tierschutzpartei',
 '6': 'Piraten',
 '2': 'SPD',
 '10': 'SSW',
 '0': 'Sonstige'}

In [11]:
df = df.rename(columns=parties_dict_short)

## Date to 120 days

In [22]:
df["Date_End"] =  pd.to_datetime(df["Date_End"], format= "Y-D-M")

ValueError: time data '2021-08-31' does not match format 'Y-D-M' (match)

In [ ]:
start_date = "2021-05-22"
end_date = "2021-8-28"

In [ ]:
df_dated = df.loc[(df['Date_End'] > start_date) & (df['Date_End'] <= end_date)]

## Eliminating useless collumns

In [ ]:
df_dated = df_dated.fillna(0)

In [ ]:
df_dated["CDU/CSU"] = df_dated["CDU/CSU"] + df_dated["CDU"] + df_dated["CSU"]

In [ ]:
other_parties = ["Sonstige", "Freie Wähler", "BP","Die PARTEI", "SSW", "BVB/FW", "NPD", "Piraten",\
                    "BIW", "Tierschutzpartei"]

In [ ]:
df_dated = df_dated.drop(columns = ["CDU", "CSU"])

In [ ]:
df_dated["other"] =  df_dated[other_parties].sum(axis=1)

In [ ]:
df_dated

In [ ]:
df_dated = df_dated.drop( columns = other_parties ).drop( columns = ["Parliament_ID","Institute_ID", "Tasker_ID"] )

### Removing repeated dates with mean

In [ ]:
df_dated_grouped = df_dated.groupby(by = "Date_End").mean()

In [ ]:
pd.date_range(start = start_date, end = end_date ).difference(df_dated.Date).value_counts().sum()

In [ ]:
## we have 37 missing values

### Adding missing dates

In [ ]:
correct_dates = pd.DataFrame(pd.date_range(start = start_date, end = end_date ))

In [ ]:
correct_dates

In [ ]:
df_dated = correct_dates.merge(df_dated_grouped, how = "left", left_on= 0 , right_on = ["Date_End" ])

In [ ]:
df_dated = df_dated.set_index([0])

In [ ]:
df_dated

In [ ]:
#df_dated = df_dated.where(df_dated.notnull() , other = df_dated.fillna(method='bfill'))

In [ ]:
df_dated = df_dated.fillna(method='ffill')

In [ ]:
df_dated

In [ ]:
df_dated.isna().value_counts()

### Removing first two and last two values

In [ ]:
df_final =  df_dated.iloc[2:].round(2)

In [ ]:
df_final

In [ ]:
df_final.index.name = 'Date'

In [ ]:
df_final["Surveyed_Persons"] = df_final["Surveyed_Persons"].astype(int)

In [ ]:
df_final =df_final.round(2)

In [ ]:
df_final.reset_index()

In [ ]:
df_final.to_csv("polls_data_2021_v4.csv")

### Plotting

In [ ]:
parties = ["CDU/CSU", "SPD", "Grüne", "FDP", "AfD","Linke", "other" ]

In [ ]:
sns.set(rc={'figure.figsize':(11.7,8.27)})
sns.lineplot( data = df_final[parties])

In [ ]:
end_date

In [ ]:
start_date

In [ ]:
import datetime

In [ ]:
current_time = datetime.datetime.today()
    # get current time yesterday
current_time_yesterday = (current_time - datetime.timedelta(1))
    # convert to ISO 8601: YYYY-MM-DDTHH:mm:ssZ
    # this is UTC; we are not accounting for german time zone +02:00
start_date = f"{str(current_time_yesterday)[:10]}"
end_date = f"{str(current_time)[:10]}"

In [ ]:
start_date